<tr>
<% if current_user?(survey.user) 
%>


  <td class="survey">
    <span class="content"><%= survey.bezeichnung %></span>
    <span class="timestamp">
     Erstellzeit:<%= time_ago_in_words(survey.created_at) %> ago.
    </span>
  </td>
  <% if current_user?(survey.user) %>

  <% if !survey.gesperrt%>
  <td><%= link_to bearbeiten, edit_survey_path(survey),
  							  :title => "Umfrage bearbeiten" %> </td>
  <% else %>
  <td><%= freigegebenBearbeiten %></td>
  <% end %>
  <% if !survey.gesperrt%>
  <td><%= link_to freigeben, lock_survey_path(survey),
  									   :confirm => "Wollen Sie die Umfrage wirklich freigeben?",
                                       :title => "Umfrage freigeben" %></td>
  <% else %>
  <td><%= freigegebenFreigabe%> </td>          
  <% end %> 
                        
  <td><%= link_to auswerten, evaluation_path(survey),  
  						     :title => "Umfrage auswerten" %></td>
  
  <td><%= link_to loeschen, survey, :method => :delete,
                                     :confirm => "Sind sie sich sicher?",
                                     :title => "Umfrage löschen" %>
  </td>
  
  <td>
  	<%=link_to "Veroeffentlichen", attend_path(:survey_id => survey.id) %>
  </td>   
  <% end %>

<% else 
%>
Sie sind nicht befugt, die Umfragen anzusehen -->
<% end 
%>
</tr>