<h1>Neue Antwort zu Frage: <%=render :text => Question.find(params[:question_id]).questiontext%>
	</h1>
	
	Geben Sie hier Ihre Antwort ein.<br> (Bei Textantworten können Sie hier eine Anweisung für den Teilnehmer einfügen.)<br>
	Mit dem Link "Neue Frage anlegen" verlassen Sie die Antworten für diese Frage und erstellen eine Neue.<br>
	(<b>Achtung:</b>Sie müssen mindestens eine Antwort anfügen, um später Fehler zu vermeiden!)
<%= form_for @answer do |f| %>
  <%= #render 'shared/error_messages', :object => f.object 
  %>
  <table>
  	<tr>
  		<td>
  			<div class="field">
    <%= f.text_field :answertext %>
  </div>
  <div class="actions">
  	<%= hidden_field_tag :question_id, params[:question_id]%>
  	<%= hidden_field_tag :answertype, params[:answertype]%>
    <%= f.submit "Hinzufügen" %>
  </div>
  <%= hidden_field_tag :survey_id, params[:survey_id]%>
  <% survey_id = params[:survey_id] %>
  <%=	link_to "Bearbeitung abschließen", edit_survey_path(survey_id) %>
  <%=	link_to "Neue Frage anlegen", new_question_path(:survey_id => params[:survey_id]) %>
  		</td>
  		<td>
  			<ul>
  				<% Answer.find_all_by_question_id(params[:question_id]).each do |answer|%>
  					<li><%= answer.answertext %></li>
  				<%end%>
			</ul>
  		</td>
  	</tr>
  </table>
  
  
<% end %>