<h1>Questions#edit</h1>
<%= form_for(@question) do |f| %>
<%= #render 'shared/error_messages', :object => f.object
%>
<%cookies[:questionid] = @question.id %>
<div class="field">
    <%= f.label :questiontext %>
    <br>
    <%= f.text_field :questiontext %>
    
    <br>
    
    	<% Answer.find_all_by_question_id(@question.id).each do |answer| %>
    	<%= label_tag "answer_#{answer}", answer.answertext %>
    	<%=	link_to "Antwort bearbeiten", edit_answer_path(answer) 
    	%><br>
    	
    	<% end %>
    	
    	<%=	link_to "Neue Antwort anlegen", new_answer_path 
    	%><br>
  
</div>
<div class="field">
  <% Answertype.all.each do |answertype| %>
    <br><%= radio_button_tag(:answertype, answertype.id)
    %>
    <%= label_tag "answertype_#{answertype}", answertype.bezeichnung
    %>
  <% end %>
  </div>
<div class="actions">
    <%= f.submit "Update" %>
</div>
<% end %>