<h1>Neue Frage</h1>

Geben Sie eine Fragestellung ein und wählen Sie die Art der Frage aus.<br>
<ul>
	<li>Eine Radio-Frage beschreibt eine Einmalauswahl der Antworten zu der Frage.</li>
	<li>Eine Checkbox-Frage beschreibt die Mehrfachauswahl der Antworten zu der Frage.</li>
	<li>Bei einer Text-Feld-Frage kann der Teilnehmer in seine Antwort in eine Textfeld eintragen</li>
	<li>Bei der Nummern-Feld-Frage kann der Teilnehmer eine Zahl eintragen.</li>
</ul>


<%= form_for @question do |f| %>
  <%= #render 'shared/error_messages', :object => f.object 
  %>
  <div class="field">
    <%= f.text_field :questiontext %>
  </div>
  <div class="field">
    <% Answertype.all.each do |answertype| %>
    <br><%= radio_button_tag(:answertype, answertype.id, { :checked => true })
    %>
    <%= label_tag "answertype_#{answertype}", answertype.bezeichnung
    %>
  <% end %>
  </div>
  <br>
  <div class="actions">
  		<%= hidden_field_tag :survey_id, params[:survey_id]%>
    <%= f.submit "Frage erstellen" %>
  </div>
  <br>
  <% survey_id = params[:survey_id] %>
  <%=	link_to beabeitungAbschliessen, edit_survey_path(survey_id) %>
<% end %>