<%= form_for @form do |f| %>
<%= #render 'shared/error_messages', :object => f.object
%>

<%survey = Survey.find(params[:survey_id]) %>

<h1><%= survey.bezeichnung %></h1>
<div class="field">

    <% surveytype = Surveytype.find(survey.surveytype.id)%>
    <h2><%= label_tag "surveytype_#{surveytype}", surveytype.bezeichnung%></h2>
</div>



<div class="field">

    <% Question.find_all_by_survey_id(survey.id).each do |question| %>
    <h3><%= label_tag "question_#{question}", question.questiontext %></h3>  
    	<% Answer.find_all_by_question_id(question.id).each do |answer| %>
    	
    	
    	<%case answer.answertype_id 
		when 1 %>
  		  <%= radio_button_tag("question_" + question.id.to_s, answer.id) %>
		<% when 2 %>
		  <%= check_box("question_" + question.id.to_s,answer.id) %>
		<% when 3 %>
		  <%= text_field_tag("question_" + question.id.to_s+ "," + "answer_" + answer.id.to_s) %>
		<% when 4 %>
		  <%= text_field_tag("question_" + question.id.to_s+ "," + "answer_" + answer.id.to_s) %>
		  <b>Geben Sie hier nur Zahlen ein!</b>
		<% end %>
    	
    	<%= label_tag question, answer.answertext %>
    	<br>
    	<% end %>
    <% end %>
    <br>
</div>
<div class="actions">
	 <%= hidden_field_tag :survey_id, params[:survey_id]%>
    <%= f.submit "Ergebnis abschicken" %>
  </div>
  <br>
<% end %>



