<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <b>Meine Umfragen</b>
      </h1>
      <% if signed_in? %>
      <% unless @user.surveys.empty? %>
         
        <table border="1" class="surveys" summary="User surveys">
          <%= render @surveys %>
        </table>

      <% end %>
	<% else %>
	Sie müssen sich anmelden, um die Umfragen anderer anzuschauen
   <% end %>

    </td>
   <td class="sidebar round"> <!--
      <strong>Vorname</strong> <%= @user.vorname %><br />
      <strong>Name</strong> <%= @user.name %><br />
      <strong>E-Mail</strong> <%= @user.email %><br />
      <strong>URL</strong>  <%= link_to user_path(@user), @user %><br />
      <strong>Umfragen</strong> <%= @user.surveys.count %>
   </td> -->
  </tr>
</table>

