<% if signed_in? %>
		
<h1>Encuesta</h1>
<p>
	Willkommen auf der Home-Page des Encuesta-Umfragen-Systems. Auf dieser Seite können sie Umfragen nach ihren Vorstellungen erstellen und diese von anderen Nutzern ausfüllen lassen. Nach erfolgreichen Teilnahmen an der Umfrage können Sie diese Umfragen auswerten.<br>
    Sobald Sie eine neue Umfrage erstellt haben können sie eine Frage für Ihre Umfrage erstellen und diese mit Antworten versehen.<br>
    Diese Seite wurde in Unterstützung mit
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a> erstellt.
</p>


<table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="survey">Umfrage erstellen</h1>
        <%= render 'shared/survey_form' %>
        <%= #render 'shared/feed' 
        %> 

      </td>
      <td class="sidebar round">
        <%= render 'shared/user_info' %>
      </td>
    </tr>
  </table>
</div>
<!--><p>Sie sind eingelogt als  <%= @current_user.login %> !   </p>-->
    <% else %>
 
	<h1>Encuesta</h1>
    <p>
	Willkommen auf der Home-Page des Encuesta-Umfragen-Systems. Auf dieser Seite können sie Umfragen nach ihren Vorstellungen erstellen und diese von anderen Nutzern ausfüllen lassen. Nach erfolgreichen Teilnahmen an der Umfrage können Sie diese Umfragen auswerten.<br>
    Sobald Sie eine neue Umfrage erstellt haben können sie eine Frage für Ihre Umfrage erstellen und diese mit Antworten versehen.<br>
    Diese Seite wurde in Unterstützung mit
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a> erstellt.
</p>
    <%= link_to "Jetzt registrieren!", signup_path, :class => "signup_button round" %>
    <% end %>

