<h1>Einloggen</h1>

<%= form_for(:session, :url => sessions_path) do |f| %>
  <div class="field">
    <%= f.label "Benutzername" %><br />
    <%= f.text_field :login %>
  </div>
  <div class="field">
    <%= f.label :passwort %><br />
    <%= f.password_field :passwort %>
  </div><br>
  <div class="actions">
    <%= f.submit "Einloggen" %>
  </div>
<% end %>

<p>Sind Sie noch nicht registriert? <%= link_to "Jetzt registrieren!", signup_path %></p>
