  	<h1>Auswertung von  "<%= @survey.bezeichnung%>"</h1>
  	
  <% q = Question.find_all_by_survey_id(@survey.id) %>
  <% q.each do |question|%>
  		<!--  #Frage wird ausgegeben-->
  		<table border="7" align="center" cellpadding="2" cellspacing="1">
  	    <colgroup>
           <col width="450">
           <col width="100">
        </colgroup>
  		<tr align="left">		
  		 <th><h3><%= question.questiontext%></h3>  			
  			
        <% a = Answer.find_all_by_question_id(question.id) %></th>
        <th>Ergebnis</th>
        </tr>     
	 <%	a.each do |answer| %>
		<tr><td>
	   <!--  #Antwort wird ausgegeben -->
	 		
           <p><%=  answer.answertext %></p> 
		<!--  ##Prüfund des Fragetyps --> 			    
          <!--  Radiobutton oder Checkbox -->
			     <% if answer.answertype_id == 1 || answer.answertype_id == 2 %>
                        </td>
	      				<% @usranswer = 0%>
             			<% Form.find_all_by_survey_id(@survey.id).each do |form| %>     
                           <% @usranswer +=  form.user_answers.find_all_by_answer_id(answer.id).count; %>
                        <% end %> 
                        <td><%= @usranswer%> 
                        <% @usranswer = 0%>		
                 <% end %>
            		</td>
          <!--  Textfeld -->
             <% if answer.answertype_id == 3%>
               <hr><table border="0" >
             	<% Form.find_all_by_survey_id(@survey.id).each do |form|%>		      
             		<%form.user_answers.find_all_by_answer_id(answer.id).each do |useranswer|; %>            		
             		<tr><td><%= useranswer.AnswerText %></td></tr>      			
             	<% end %>
             <% end %>
             </table>
             </td>
             
          <!--  Nummernfeld -->
              <% if answer.answertype_id == 4 %>
                </td>            	
             	<% @ergebnis = 0%>
             	<% @counter = 0%>
             	<% Form.find_all_by_survey_id(@survey.id).each do |form|%>		      
             		<%form.user_answers.find_all_by_answer_id(answer.id).each do |useranswer|; %>
             			<% @ergebnis += useranswer.AnswerText.to_i %>
             			 <%  @counter = @counter +1 %>  
             			
             		<% end %>
                <% end %> 
                <% if @counter != 0 %> 
                   <% p @average = @ergebnis / @counter %> 	
             	   <td align"center"><%= @average %>(Durchschnitt)</td>
             	<% end %>   
             <% end %>   
  <% end %>	
   </tr>
   </table> 
   <br> 
<% end %> 
<% end %>  	