  	<h1>Auswertung von  "<%= @survey.bezeichnung%>"</h1>

  	<!-- Fragen durchsuchen -->
  	<% if session[:some_key]!=nil%>
  	  <% params[:searchQ] = session[:some_key]%>
  	<% end %>

  	<tr><form><td colspan="2"><p>
       	     <input name="searchQ" type="text" size="30" maxlength="40" value="Fragen filtern">
       	     <input type="submit" value="Suchen">      	     
    </form>Sucheingabe: <%= params[:searchQ]%></p>
 
  	
  <% q = Question.find_all_by_survey_id(@survey.id) %>
  <% q.each do |question|%>
  
  		<% if params[:searchQ]==nil%>
            <% params[:searchQ] = "" %>
        <% end%>
  		
  	<% if question.questiontext.include?(params[:searchQ])%>
  		<!--  #Frage wird ausgegeben-->
  		<table border="9" align="center" >
  	    <colgroup>
           <col width="450">
           <col width="100">
        </colgroup>
  		<tr align="left">		
  		 <th><h3><%= question.questiontext%></h3> 
		
        <% a = Answer.find_all_by_question_id(question.id) %></th>
        <th>Ergebnis</th>
        </tr>
             
	    <%a.each do |answer| %>
	
	   <!--  #Antwort wird ausgegeben -->
	   
	<!-- Suchfeld für Textantworten-->	
       <% if answer.answertype_id != 3%>
       <tr><form><td><p><%=  answer.answertext %>
       	<% end %>
       	
       	<% if answer.answertype_id == 3%>
       	  <tr><form><td colspan="2"><p>
       	     <input name="search" type="text" size="30" maxlength="40" value="Antworten filtern">
       	     
       	     <input type="submit" value="Suchen"></p>
          </form>
       	
       	 <p> Sucheingabe: <%= params[:search]%></p>
       	<% end %>  
       </td>
    <!--  ##Prüfund des Fragetyps --> 
					    
          <!--  Radiobutton oder Checkbox -->
			     <% if answer.answertype_id == 1 || answer.answertype_id == 2 %>
	      				<% @usranswer = 0%>
             			<% Form.find_all_by_survey_id(@survey.id).each do |form| %>     
                           <% @usranswer +=  form.user_answers.find_all_by_answer_id(answer.id).count; %>
                        <% end %> 
                        <td align="center"><b><%= @usranswer%></b></td>
                 <% end %>
            		
          <!--  Textfeld -->
             <% if answer.answertype_id == 3%>
                <tr><td>
                <% @counter = 0%>	  
             	<% Form.find_all_by_survey_id(@survey.id).each do |form|%>		      
             		<%form.user_answers.find_all_by_answer_id(answer.id).each do |useranswer|; %>
             		 <% if params[:search]==nil%>
             		    <% params[:search] = "" %>
             		 <% end%>
             		   
             		  <% if useranswer.AnswerText.include?(params[:search])%>        		
             		    <p><%= useranswer.AnswerText %></p> 
             		    <% @counter = @counter + 1%>
             		  <% end%>      			
             	    <% end %>
                <% end %></td>
                <td align="center"><b><%= @counter%></b></td>
                </tr>
             <% end %>
             
          <!--  Nummernfeld -->
              <% if answer.answertype_id == 4 %>           	
             	<% @ergebnis = 0%>
             	<% @counter = 0%>
             	<% Form.find_all_by_survey_id(@survey.id).each do |form|%>		      
             		<%form.user_answers.find_all_by_answer_id(answer.id).each do |useranswer|; %>
             			<% @ergebnis += useranswer.AnswerText.to_i %>
             			 <%  @counter = @counter +1 %>  	
             		<% end %>
                <% end %> 

                <% if @counter != 0 %> 
                   <% p @average = @ergebnis / @counter %> 	
             	   <td align"center"><b><%= @average%></b><br>(Durchschnitt)</td>
             	<% end %>   
             <% end %>
        <% session[:some_key] = params[:searchQ]%>
     <% end %>	
     </tr>
     </table> 
     <br> 
   <% end %>  
<% end %>  	