<tr>
  <td class="survey">
    <span class="content"><%= survey.bezeichnung %></span>
    <span class="timestamp">
     Erstellzeit:<%= time_ago_in_words(survey.created_at) %> ago.
    </span>
  </td>
  <% if current_user?(survey.user) %>
  <td>
    <%= link_to "Löschen", survey, :method => :delete,
                                     :confirm => "You sure?",
                                     :title => survey.bezeichnung %>
  </td>
  <% if survey.gesperrt = "f" %>
  <td><%= link_to "Bearbeiten", edit_survey_path(survey) %> </td>
  <% else %>
  <td><%= "Bearbeiten" %>
  <% end %>
  <td><%= link_to "Sperren", survey_path %></td>
  <% end %>

</tr>
