<tr>
  <td class="survey">
    <span class="content"><%= survey.bezeichnung %></span>
    <span class="timestamp">
     Erstellzeit:<%= time_ago_in_words(survey.created_at) %> ago.
    </span>
  </td>
  <% if current_user?(survey.user) %>
  <td>
    <%= link_to "Löschen", survey, :method => :delete,
                                     :confirm => "Sind sie sich sicher?",
                                     :title => survey.bezeichnung %>
  </td>
  <% if !survey.gesperrt%>
  <td><%= link_to "Bearbeiten", edit_survey_path(survey) %> </td>
  <% else %>
  <td>Bearbeiten</td>
  <% end %>
  <td><%= link_to "Sperren", survey, :method => :lock,
  									 :confirm => "Sind sie sich sicher?",
                                     :title => survey.bezeichnung %></td>
  <% end %>
  
  <td><%= link_to "Auswerten",  %></td>
  

</tr>
