<tr>
  <td class="survey">
    <span class="content"><%= survey.bezeichnung %></span>
    <span class="timestamp">
     Erstellzeit:<%= time_ago_in_words(survey.created_at) %> ago.
    </span>
  </td>
  <% if current_user?(survey.user) %>

  <% if !survey.gesperrt%>
  <td><%= link_to "Bearbeiten", edit_survey_path(survey) %> </td>
  <% else %>
  <td>Bearbeiten</td>
  <% end %>
  <% if !survey.gesperrt%>
  <td><%= link_to "Freigeben", lock_survey_path(survey),
  									   :confirm => "Wollen Sie die Umfrage wirklich freigeben?",
                                       :title => survey.bezeichnung %></td>
  <% else %>
  <td>Freigeben </td>          
  <% end %> 
                        
  <td><%= link_to "Auswerten", evaluation_path(survey)  %></td>
  
  <td><%= link_to "Löschen", survey, :method => :delete,
                                     :confirm => "Sind sie sich sicher?",
                                     :title => survey.bezeichnung %>
  </td>   
  <% end %> 
  

</tr>
