<h1>Umfrage bearbeiten</h1>
<%= form_for(@survey) do |f| %>
<% #render 'shared/error_messages', :object => f.object

#cookies[:surveyid] = @survey.id
%>
<div class="field">
    <%= f.label :bezeichnung %>
    <br />
    <%= f.text_field :bezeichnung %>
</div>
<div class="field">

    <% Surveytype.all.each do |surveytype| %>
    <br>
    <%= #radio_button_tag 'surveytype', surveytype.id, @survey.surveytype_id == surveytype.id
      f.radio_button(:surveytype, surveytype.id)
    %>
    <%= label_tag "surveytype_#{surveytype}", surveytype.bezeichnung
    %>
    <% end %>
</div>
<div class="actions">
    <%= f.submit "Update" %>
</div>


<div class="field">

    <% Question.find_all_by_survey_id(@survey.id).each do |question| %>
    <br>
    
    <%= label_tag "question_#{question}", question.questiontext %>  
    <%=	link_to "Frage bearbeiten", edit_question_path(question, :survey_id => @survey.id) %>
    <br>Achtung, wenn Sie eine Frage bearbeiten, werden die zugehörigen Antworten gelöscht
 <%#BK: Und wenn nur ein Rechtschreibfehler vorliegt??%>
    <br>
    
    	<% Answer.find_all_by_question_id(question.id).each do |answer| %>
    	<%= label_tag "answer_#{answer}", answer.answertext %>
    	<%=	link_to "Antwort bearbeiten", edit_answer_path(answer) 
    	%><br>
    	<% end %>
    <% end %>
    
    <%=	#link_to "Neue Frage anlegen", new_question_path 
    %>
        	<%=	link_to "Neue Frage anlegen", new_question_path(:survey_id => @survey.id) 

    	%><br>
</div>
<% end %>



