<!DOCTYPE html>
<html>
  <!DOCTYPE html>
<html>
  <head>
    <title>Encuesta Projekt</title>
    <%= csrf_meta_tag %>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->    
    <!--<%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>-->
    <!--<%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>-->
    <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
    <%= stylesheet_link_tag 'custom', :media => 'screen' %>
   <%= javascript_include_tag :defaults %>
   <%= javascript_include_tag "EffeckteButtons.js" %>
  </head>

  <body>
  	<!-- Hier beginnt die Hauptseite mit einer Kopfzeile, einem Hauptteil und der Fußzeile -->
      <header>
  		<%= link_to logo, home_path %><br>
  		<!--><nav class="round">-->
   		</header>
   		<div class = "abstand">
      		<center><table border = "0" >
      			<tr><td>
					<a href="http://127.0.0.1:3000/home" onmouseover="a1.src='/images/HomeButtonON.png';" 
					onmouseout="a1.src='/images/HomeButton.png';" name="a1">
					<img src="/images/HomeButton.png" border="0" alt="" name="a1"></a>
					</td>	 	
					<td>	<a href="http://127.0.0.1:3000/help/" onmouseover="a2.src='/images/HilfeButtonON.png';" 
					onmouseout="a2.src='/images/HilfeButton.png';" name="a1" >
					<img src="/images/HilfeButton.png"   border="0" alt="" name="a2"></a>
					</td>
					<td>
					<a href="http://127.0.0.1:3000/contact/" onmouseover="a3.src='/images/KontaktButtonON.png';" 
					onmouseout="a3.src='/images/KontaktButton.png';"  name="a3">
					<img src="/images/KontaktButton.png" border="0" alt="" name="a3"></a>
					</td>
					<td>
					<a href="www.google.de" onmouseover="a4.src='/images/ImpressumButtonON.png';" 
					onmouseout="a4.src='/images/ImpressumButton.png';" 
					target="www.google.de" name="a4">
					<img src="/images/ImpressumButton.png" border="0" alt="" name="a4"></a>
					</td>	 		 			
				</tr>
			</table></center>
			</div>						

      		<% if signed_in? %>
      		<!--	<li><%= link_to "Home", home_path %></li> 
      			<li><%= link_to "Benutzer", users_path %></li> -->
      			<li><%= link_to "Mein Umfragen", current_user %></li>
      			<li><%= link_to "Einstellungen", edit_user_path(current_user) %></li>
      		<% end %>
      		<% if signed_in? %>
      			<li><%= link_to "Ausloggen", signout_path, :method => :delete %></li>
      		<% end %>
      		<% if signed_in? %>
      			<li>Eingeloggt als:<%= @current_user.login %></li>
      		<% end %>
    	</ul>
 </nav>
  <% if signed_in? %>
 
 <% else %>
  <div id = "sidebox" class= "round">
  <br> 
  <%= form_for(:session, :url => sessions_path) do |f| %>
  <div class="field">
    <%= f.label :Benutzername %><br />
    <%= f.text_field :login %>
  </div>
  <div class="field">
    <%= f.label :passwort %><br />
    <%= f.password_field :passwort %>
  </div>
  <div class="actions">
    <%= #link_to "Passwort vergessen?", home_path,  :class => "forgottenpw" 
    %><br>
  </div>
  <div class="actions">
    <%= image_submit_tag("GO.png") %>
  </div>
<% end %>
	<%= link_to registerPic, signup_path %> 
	<br><br> 
</div>
<% end %>
	
      <section class="round">
        <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
        <!-- an dieser Stelle werden die anderen Seiten in die Hauptseite eingefügt -->
        <%= yield %>
      </section>
      
 
    

    
 <footer>
</footer>

  </body>

</html>
