<%= form_for @survey do |f| %>
  <%= #render 'shared/error_messages', :object => f.object 
  %>
  Erstellen sie hier schnell und einfach eine neue Umfrage. Optional können Sie auch eine neue Umfrage erstellen, indem Sie auf den zugehörigen Link klicken.
  
  <div class="field">
    <%= f.text_field :bezeichnung %>
  </div>
  <div class="field">
    <% Surveytype.all.each do |surveytype| %>
    <br><%= #radio_button_tag 'surveytype', surveytype.id, @survey.surveytype_id == surveytype.id 
    f.radio_button(:surveytype, surveytype.id)
    %>
    <%= label_tag "surveytype_#{surveytype}", surveytype.bezeichnung
    %>
  <% end %>
  <br>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Umfrage erstellen" %>
  </div>
<% end %>
