<% if signed_in? %>

<center>
    <h1>Herzlichen Willkommen auf dem Encuesta-Umfrage-System</h1>
</center>
<p>
    <blockquote>
        Auf dieser Seite können sie Umfragen nach ihren Vorstellungen erstellen und diese von Teilnehmern ausfüllen lassen.
    </blockquote>

    <blockquote>
        Encuesta richtiet sich an Personen die Umfragen wie z.B. Politische Erhebungen durchführen wollen.
    </blockquote>
</p>
<center>
    <%= umfrageStartseiteBackround
    %>
</center>
<table class="front" summary="For signed-in users">
    <tr>
        <td class="main">
        <h1 class="survey">Umfrage erstellen</h1>
        <%= render 'shared/survey_form' %>
        <%= #render 'shared/feed'
        %>
        </td>
    </tr>
</table>
</div>
<!--><p>Sie sind eingelogt als  <%=# @current_user.login
%> !   </p>-->
<% else %>

<center>
    <h1>Herzlichen Willkommen auf dem Encuesta-Umfrage-System</h1>
</center>
<p>
    <blockquote>
        Auf dieser Seite können sie Umfragen nach ihren Vorstellungen erstellen und diese von Teilnehmern ausfüllen lassen.
    </blockquote>
</p>
<p>
    <blockquote>
        Encuesta richtiet sich an Personen die Umfragen wie z.B. Politische Erhebungen durchführen wollen.
    </blockquote>

    <blockquote>
        Durch klicken auf<%= link_to "Jetzt registrieren!", signup_path, :class => "signup_button round" %> können Sie sich anmelden.
    </blockquote>
</p>

<p>
    <center>
        <%= umfrageStartseiteBackround%>
    </center>
</p>
<% end %>

