<% if signed_in? %>
		
<h1>Encuesta</h1>
<p>
    Dies ist die Home-Page des Encuesta-Umfragen-Systems. Erstellt in Unterstützung mit
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
</p>
<% cookies.delete :answertype %>
<% cookies.delete :questionid %>
<% cookies.delete :surveyid %>

<table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="survey">Umfragen</h1>
        <%= render 'shared/survey_form' %>
        <%= #render 'shared/feed' 
        %>

      </td>
      <td class="sidebar round">
        <%= render 'shared/user_info' %>
      </td>
    </tr>
  </table>
</div>
<!--><p>Sie sind eingelogt als  <%= @current_user.login %> !   </p>-->
    <% else %>
 
<% cookies.delete :answertype %>
<% cookies.delete :questionid %>
<% cookies.delete :surveyid %>
    <p>
    Dies ist die Home-Page des Encuesta-Umfragen-Systems. Erstellt in Unterstützung mit
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
	</p>
    <%= link_to "Jetzt registrieren!", signup_path, :class => "signup_button round" %>
    <% end %>

